@font-face {
    font-family: 'nyt-cheltenham';
    src: url('../fonts/nyt-cheltenham-200-normal.woff');
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem !important;
}

.logo-container > img {
    width: 40px;
    height: 40px;
    margin-right: 1em;
}

.logo-container {
    display: flex;
    flex-direction: row;
    font-family: nyt-cheltenham;
    font-size:larger;
    align-items: center;
    transition: opacity .2s;
    opacity: .7;
}
.logo-container:hover {
    /* color: rgb(38,143,156); */
    opacity: 1;
}

.logout-button,
.demo-button {
    cursor: pointer;
    background-color: rgb(38,143,156);
    opacity: 0.8;
    color: white;
    border: none;
    font-weight: bold;
    /* padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem; */
    border-radius: 5px;
    /* margin-right: 1rem;
    margin-top: 0.25rem; */
    transition: opacity 0.2s;
    font-size: 15px;
    width: 5vw;
    height: 3vh;
    min-width: fit-content;
    min-height: fit-content;
    margin-left: .5em;
}
.logout-button:hover,
.demo-button:hover {
    opacity: 1;
}

.navlink {
    cursor: pointer;
    padding-inline: .5em;
    font-weight: 200;
    min-width: 4vw;
    min-height: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    /* min-width: fit-content;
    min-height: fit-content; */
    transition: color .2s;
}
.navlink:hover {
    color: rgb(38,143,156);
}

.nav-links-right {
    min-width: 200px;
}

.search-bar {
    border: 1px solid lightgrey;
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    white-space: nowrap;
    transition: .3s ease-in-out;
}
.search-bar:hover {
    border: 1px solid rgb(146, 146, 146);
}
.search-input {
    border: none;
}
.search-input:focus {
    outline: none;
}
.search-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    /* padding-top: 3px;
    padding-bottom: 3px; */
    padding: 0 1em;
    color: darkslategrey;
    transition-duration: 300ms;
    transition-property: all;
    opacity: .5;
    color: black;
    /* float: unset; */
}
.search-button:hover {
    opacity: 1;
}
.search-button-disabled {
    opacity: .3;
    cursor: not-allowed;
    border: none;
    background-color: white;
    font-size: 20px;
    padding: 0 1em;
    /* transition-duration: .3s;
    transition-property: all; */
}
/* .search-button-disabled:hover {
    color: rgb(174, 0, 0);
    opacity: 70%;
} */
