@font-face {
    font-family: 'nyt-cheltenham';
    src: url('../../fonts/nyt-cheltenham-200-normal.woff');
}

.recipe-outer-wrapper {
    display: flex;
    width: 58vw;
    /* align-items: center; */
    justify-content: center;
    font-family: nyt-cheltenham;
    flex-direction: column;
    margin: auto;
    margin-top: 3vh;
}

.top-recipe-wrapper {
    display: flex;
    width: 58vw;
    height: 60vh;
    border-bottom: solid black 5px;
    justify-content: space-between;
}
.top-left-quadrant {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    min-width: 20vw;
    width: 20vw;
    height: 60vh;
    position: relative;
    /* border-bottom: 2px solid #ccc; */
    /* top: 15vh; */
    /* margin-right: 1vw; */
}
.top-left-top {
    border-bottom: 2px solid #ccc;
    height: 40vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-left-bottom {
    display: flex;

}
.top-right-quadrant {
    min-width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}
.recipe-image-container {
    width: 33vw;
    height: 40vh;
}
.recipe-image {
    object-fit: cover;
    width: 33vw;
    height:40vh;
}
.description-container {
    word-break: break-word;
    max-height: 12vw;
    max-width: 33vw;
    overflow: scroll;
    margin-bottom: 1vh;
    overflow: -moz-scrollbars-none;
}
.description-container::-webkit-scrollbar { width: 0 !important }




/* Lower half */
.bottom-recipe-wrapper {
    display: flex;
    width: 58vw;
}

/* Ingredients */
.bottom-recipe-left {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: auto;
}
.ingredients-list {
    list-style: none;
    padding-left: 0;
}
.ingredient-quantity,
.ingredient-unit,
.ingredient-ingredient {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

/* Rating */
.Rating {
    padding-top: 1em;
}
.errors {
    color: red;
}

