@font-face {
    font-family: 'nyt-cheltenham';
    src: url('../../fonts/nyt-cheltenham-200-normal.woff');
}

.recipe-outer-wrapper {
    display: flex;
    width: 58vw;
    /* align-items: center; */
    justify-content: center;
    font-family: nyt-cheltenham;
    flex-direction: column;
    margin: auto;
    margin-top: 3vh;
}

.top-recipe-wrapper {
    display: flex;
    width: 58vw;
    height: 60vh;
    border-bottom: solid black 5px;
    justify-content: space-between;
}
.top-left-quadrant {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    min-width: 20vw;
    width: 20vw;
    height: 60vh;
    position: relative;
    /* border-bottom: 2px solid #ccc; */
    /* top: 15vh; */
    /* margin-right: 1vw; */
}
.top-left-top {
    border-bottom: 2px solid #ccc;
    height: 40vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-break: break-word;
}
.top-left-bottom {
    display: flex;
    margin-top: 1em;
    flex-direction: column;
}
.top-left-bottom > div {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.top-right-quadrant {
    min-width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* align-items: center; */
}

.recipe-image-container {
    width: 33vw;
    height: 40vh;
}
.recipe-image {
    object-fit: cover;
    width: 33vw;
    height:40vh;
}
.description-container {
    word-break: break-word;
    max-height: 12vw;
    max-width: 33vw;
    overflow-y: scroll;
    margin-bottom: 1vh;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}
.description-container::-webkit-scrollbar { width: 0 !important }




/* Lower half */
.bottom-recipe-wrapper {
    display: flex;
    justify-content: space-between;
    width: 58vw;
    margin: auto;
    /* height: 60vh; */
}
.lower-right-quadrant {
    width: 33vw;
}

/* Ingredients */
.bottom-recipe-left {
    display: flex;

    flex-direction: column;
    width: 20vw;
    height: auto;
    margin-right: 5vw;
}
.ingredients-list {
    list-style: none;
    padding-left: 0;
}
.ingredient-quantity,
.ingredient-unit,
.ingredient-ingredient {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px 0;
}

small {
    margin-bottom: 5px;
    /* margin-bottom: 10px; */
}

#quantity,
#unit,
#ingredient {
    border-radius: 5px;
    height: 2.5vh;
    border: none;
    background-color: whitesmoke;
}

form > .add-ingredient-button {
    /* background-color: transparent; */
    /* border: 1px solid black; */
    border: none;
    border-radius: 5px;
    height: 2.5vh;
    cursor: pointer;
    background-color: rgb(38, 143, 156);
    opacity: .7;
    transition: opacity .15s;
    color: white;
    font-weight: bold;
}
form > .add-ingredient-button:hover {
    opacity: 1;
}

/* Rating */
.Rating {
    padding-top: 1em;
}
.errors {
    color: red;
    list-style: none;
    padding-left:0;
}


/* Steps */
.steps-list {
    list-style: none;
    padding-left: 0;
    word-break: break-word;
}
.step-number {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.textarea-field {
    width: 100%;
    height: 12vh;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    /* font-size: 16px; */
    resize: none;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
#add-step-label {
    margin-bottom: 1em;
    /* font-size: 16px; */
    font-weight: bold;
}

.add-step-button {
    border: none;
    border-radius: 5px;
    height: 2.5vh;
    cursor: pointer;
    background-color: rgb(38, 143, 156);
    opacity: .7;
    transition: opacity .15s;
    color: white;
    font-weight: bold;
}
.add-step-button:hover {
    opacity: 1;
}

/* Rating */
.Rating > p {
    /* font-weight: bold; */
    margin-bottom: 0;
    padding: 1em 0;
}
.Rating > h2 {
    margin-bottom: 0;
}
.Rating {
    padding: 1em 0;
}

#add-ingredient-button {
    border: none;
    border-radius: 5px;
    height: 2.5vh;
    cursor: pointer;
    background-color: rgb(38, 143, 156);
    opacity: .7;
    transition: opacity .15s;
    color: white;
    font-weight: bold;
}
#add-ingredient-button:hover {
    opacity: 1;
}
