.profile-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 3.8rem;
    right: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: white;
    font-weight: 500;
  }

  .profile-dropdown label {
    margin: 0.25rem 0;
  }

  .start-group-link  {
    margin: 0.25rem 0;
    color: black;
    font-weight: bold;
  }
  .start-group-link:hover {
    color: rgb(38,143,156);
    font-weight: bold;
  }

  .userprof-btn {
    /* background-color: #cacaca; */
    background: none;
    border: none;
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
    margin-right: 1rem;
    transition: background-color 0.6s;
    /* width: 200%;
    height: 200%; */
    font-size: 25px;
  }

  .userprof-btn:hover {
    background-color: #969696;
  }
  .userprof-link {
    background-color: #ed1c40;
    opacity: 0.8;
    color: white;
    border: none;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    border-radius: 5px;
    margin-right: 1rem;
    margin-top: 0.25rem;
    transition: opacity 0.3s;
    max-width: 5vw;
    font-size: 15px;
  }

  .logout-btn {
    background-color: rgb(38,143,156);
    opacity: 0.8;
    color: white;
    border: none;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    border-radius: 5px;
    margin-right: 1rem;
    margin-top: 0.25rem;
    transition: opacity 0.3s;
    font-size: 15px;
  }

  .logout-btn:hover,
  .userprof-link:hover {
    opacity: 1;
    cursor: pointer;
  }
