@font-face {
    font-family: 'nyt-cheltenham';
    src: url('../../fonts/nyt-cheltenham-200-normal.woff');
}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    /* width: 101vw; */
    flex-flow: column;
    font-family: "nyt-cheltenham";
}

.featured-container {
    width: 100vw;
    min-width: 100vw;
    height: 70vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.recipeoftheday {
    width: 100vw;
    min-width: 100vw;
    height: 70vh;
}

.featured-image {
    object-fit: cover;
    width: 100%;
    height: 70vh;
    max-height: 80vh;
    z-index: -1;
    margin: 0;
    transition-property: all;
    transition-duration: 1.5s;
    overflow:hidden;
}

.featured-image:hover {
    transform: scale(1.01);
}

.recipeoftheday-card {
    flex-direction: column;
    z-index: 1;
    position: absolute;
    background-color: whitesmoke;
    top: 45vh;
    left: 7vw;
    height: 270px;
    width: 290px;
    text-decoration: none;
    color: black;
    font-weight: 100;
    font-size: 22px;
    vertical-align: middle;
    padding: 30px;
    display: table-cell;
    word-break: break-word;
}

.recipeoftheday-card > h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 14px;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 85vw;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 41vh;
    margin: 15px 0;
    border: 1px solid #dddddd;
    transition-property: all;
    transition-duration: .2s;
    overflow:hidden;
}
.card:hover {
    box-shadow: 0 0 8px grey;
    /* transform: scale(1.01) */
}

.image-container {
    width: 25vw;
    height: 29vh;
    overflow: hidden;
}

.card-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition-duration: .5s;
}
.card-image:hover {
    transform: scale(1.01);
}

.card-bottom {
    word-wrap: break-word;
    margin: 0 .5vw;
}

#card-recipe-preptime {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: grey;
    margin: .5vw;
}

#card-recipe-author {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12.5px;
    margin: .5vw;
}
#card-recipe-title {
    margin: .5vw;
}

.blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    background-color: #f5f5f5;
}
